<meta charset="utf-8" />
<title></title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/jquery-gauge.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/material.indigo-pink.min.css">
<link rel="stylesheet" ; href="css/ng-table.min.css">

<!--<link rel="stylesheet"
	href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
<script
	src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
	<link rel="stylesheet"
	; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
<script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>

<script data-require="ui-bootstrap@*" data-semver="0.12.1"
	src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>-->





<script type="text/javascript" src="libraries/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="libraries/bootstrap.min.js"></script>
<script type="text/javascript" src="libraries/angular.min.js"></script>
<script type="text/javascript" src="libraries/angular-route.js"></script>
<script type="text/javascript" src="libraries/chart.js"></script>
<script type="text/javascript" src="libraries/Chart.min.js"></script>
<script type="text/javascript" src="libraries/angular-chart.min.js"></script>
<script type="text/javascript" src="js/controller/app.js"></script>
<script type="text/javascript" src="libraries/jquery-gauge.min.js"></script>
<script src="libraries/material.min.js"></script>
<script src="libraries/ng-table.min.js"></script>
<script data-require="ui-bootstrap@*" data-semver="0.12.1" src="libraries/ui-bootstrap-tpls-0.12.1.min.js"></script>
<script src="https://www.w3schools.com/lib/w3.js"></script>






<style>
</style>